exportPattern("^[[:alpha:]]+")
export(density_test)
export(bw_density_test)
export(Independence_test)
export(bw_Independence_test)
export(Sort_bubble)
export(Sort_selection)
export(Sort_merge)
export(Sort_quick)
export(Sort_counting_Integer)
export(Sort_radix_PostiveInteger)
export(Sort_Insert)
export(Sort_Shell)
export(Sort_Heap)
export(fhat_adaptive)
export(fhat_simple)
importFrom(stats,sd)
importFrom(stats,qnorm)
importFrom(Rcpp, evalCpp)
useDynLib(StatComp20077, .registration = TRUE)
